{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<main role="main" class="container p-5">
    <form action="/tabla" method="GET">
        <button type="submit" id="table" class="btn btn-primary">Table</button>
        <img src="data:image/svg+xml;base64,{{chart_tabla}}" style="margin: auto;">
    </form>

    <form action="/error" method="GET">
        <button type="submit" id="error" class="btn btn-primary">Errors</button>
        <img src="data:image/svg+xml;base64,{{chart_error}}" style="margin: auto;">
    </form>
</main>
{% endblock %}